.homePage {
	min-height: 100vh;
	padding: 0 15px;
}

.myIntro {
	margin: 100px;
}

.text1,
.text3 {
	font-size: 45px;
	letter-spacing: 2px;
	font-weight: bold;
}

.text2 {
	font-size: 55px;
	letter-spacing: 2px;
	font-weight: bold;
	color: rgb(238, 122, 48);
}
.text4 {
	font-size: 16px;
	letter-spacing: 1.5px;
	font-weight: 500;
	line-height: 40px;
}

.homePageCurrentBalance {
	font-size: 30px;
	text-align: right;
	margin: 20px 0;
}

.homePageCurrentBalance span {
	color: #ff6ca2;
	font-weight: 500;
}

.homePageCoursesTitle {
	margin: 30px 0 20px 0;
	font-size: 30px;
	letter-spacing: 3px;
	font-weight: 500;
	color: var(--color-6Z-gr45-3);
	text-shadow: 2px 2px 4px #7f8287;
}

.homePageTrendingCourses {
	display: flex;
	margin: 20px 0;
}

.titleBorder {
	background: #0259eb;
	border-radius: 16px;
	height: 3px;
	left: 152px;
	margin-top: 8px;
	top: 1626px;
	width: 48px;
}

.shareBox {
	margin: 20px;
}

.shareTitle {
	font-size: 20px;
	font-weight: 500;
}

/* ------------M-web----------- */
@media screen and (max-width: 1000px) {
	.myIntro {
		margin: 50px;
	}

	.text1,
	.text3 {
		font-size: 30px;
	}

	.text2 {
		font-size: 40px;
	}

	.text4 {
		font-size: 15px;
		line-height: 27px;
	}

	.homePageSharpLearnIntro {
		padding: 10px;
		width: calc(100% - 20px);
	}

	.homePageTrendingCourses {
		display: block;
		margin: unset;
		text-align: center;
	}

	.TrendingCoursesImg {
		width: 90%;
		margin: auto;
	}

	.trendingDetailsBox {
		width: 90%;
		margin: 10px auto;
		text-align: left;
	}
}

@media screen and (max-width: 550px) {
	.myIntro {
		margin: 20px 0;
	}

	.text4 {
		font-size: 15px;
		line-height: 20px;
	}

	.homePageaboutSharpLearn {
		font-size: 15px;
		line-height: 20px;
		text-align: center;
	}

	.homePageSharpLearnIntro {
		font-size: 15px;
	}
}
