.homePage {
	min-height: 100vh;
}

.homePageContainer {
	min-height: 100vh;
	padding: 0 10px;
	margin-bottom: 200px;
}

.courseBox {
	display: flex;
	padding: 20px 0px;
	border-bottom: 1px solid hsla(0, 0%, 100%, .3);
}

.courseBox:last-of-type {
	border: unset;
	padding-bottom: unset;
}

.courseBox:first-of-type {
	padding-top: 0px;
}

.courseImg {
	min-width: 450px;
	max-width: 450px;
	object-fit: cover;
	aspect-ratio: 1/1;
	border-radius: 10px;
}

.courseDetails {
	margin-left: 30px;
}

.courseTitle {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 10px;
}

.aboutCourse {
	font-size: 20px;
	font-weight: 500;
}

.coursePrice {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 10px;
}

/* ------------M-web----------- */
@media screen and (max-width: 1000px) {
	.courseBox {
		display: block;
		text-align: center;
	}

	.courseTitle {
		font-size: 35px;
		margin-bottom: 15px;
		line-height: 45px;
	}

	.courseDetails {
		margin: unset;
	}

	.aboutCourse {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.coursePrice {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 550px) {
	.courseImg {
		min-width: 90%;
		max-width: 90%;
	}

	.courseTitle {
		font-size: 25px;
		line-height: 30px;
	}

	.aboutCourse {
		font-size: 15px;
	}

	.coursePrice {
		font-size: 35px;
		/* margin-bottom: ; */
	}
}